<div class="exercise__item">
  <h2 id="exercise-1" class="exercise__item--title">E1: List of posts</h2>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requirements
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Create an express app and a new server using the port <b>3000</b></li>
      <li>Create a new endpoint</li>
      <li>The new endpoint should return a set of <a href="../../../../../assets/files/mock-posts.json">mock posts</a></li>
      <li>The endpoint should use a <b>GET</b> method</li>
      <li>The response should come in JSON format</li>
      <li>The Content/Type header should be application/json</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
