<div class="exercise__item">
  <h2 id="exercise-2" class="exercise__item--title">Exercise 2</h2>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requirements
      </mat-panel-title>
    </mat-expansion-panel-header>
    Edit your logger module to meet the next requirements
    <ul class="mt-2">
      <li>Add headers to your logs</li>
      <li>The new logs should not override the previous ones</li>
      <li>Use moment.js and moment-timezone to give the following format to the date of your logs: <b>YYYY-MM-DD
        HH:mm:SS UTC</b></li>
    </ul>
    <p class="mt-2"> Your logs should look similar than the following:</p>
    <markdown ngPreserveWhitespaces data-type="text/html">
      > log.txt
      ```
        Date                       Level    Message
        2019-05-25 15:04:59 UTC    ERROR    Error Message
        2019-06-19 11:04:59 UTC    WARN     This is a warning
      ```
    </markdown>
  </mat-expansion-panel>
</mat-accordion>
