<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="/../../assets/img/nodejs.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a routerLink="" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">NPM</a>
      <div class="dropdown-menu">
        <a routerLink="npm" class="dropdown-item">What is NPM?</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a routerLink="" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">Exercises</a>
      <div class="dropdown-menu">
        <a routerLink="exercises/npm" class="dropdown-item">NPM</a>
      </div>
    </li>
  </ul>
</nav>
