<div class="exercise__item">
  <h2 id="exercise-1" class="exercise__item--title">E3: Get a post by id</h2>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requirements
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Create a new endpoint</li>
      <li>The endpoint should use a <b>GET</b> method</li>
      <li>The endpoint should return a single post</li>
      <li>The post returned should correspond with the id received</li>
      <li>The response should come in JSON format</li>
      <li>The Content/Type header should be application/json</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Referencess
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <a href="../../../../../assets/files/Instalacion postgres2.pdf" class="ml-5 ref-btn-link">How to install postgres</a>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
