// Colors
$color-primary-green: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary: #ea4749;
$color-scondary: #999;
$color-dark: #1C424D;
$color-info: #1c424d;
$color-warning: #f98016;
$color-danger: #f44336;
$color-success: #7b904e;
$color-light: #BA8787;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;
