<div class="exercise__item">
  <h2 id="exercise-1" class="exercise__item--title">Exercise 3</h2>
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Requirements
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li>Create new function in your module called <b>searchBy</b></li>
    <li>This function should help you to find logs by a criteria</li>
    <li>The first argument should be the name and path of your log file; ie. <b>my/path/log.txt</b></li>
    <li>The second argument of your function should be the criteria of search</li>
    <li>The function should be able to receive two kinds of criteria: <b>Text, Time</b></li>
    <li>The function should return an array filled with the found log messages</li>
    <li>If no log is found the function should return an empty array</li>
  </ul>
</mat-expansion-panel>
