<div class="display-4">Exercise 1</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requirements
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Create a npm project</li>
      <li>Create a function that creates a file with a log message</li>
      <li>The function should accept three arguments</li>
      <li>The first argument should be the name and path of your file; ie. <b>my/path/fileName</b></li>
      <li>The second argument should be the Level of the message</li>
      <li>The third argument should be the message that you want to log</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Setting your npm project
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Run the following commands</li>
    </ul>
    <app-command-line [source]="initProject"></app-command-line>
    <ul>
      <li>Create a file called <b>logger.js</b></li>
    </ul>
    <markdown ngPreserveWhitespaces data-type="text/html">
      > logger.js
      ```javascript
      const fs = require('fs');
      const path = require('path');
      module.exports = (logPath, level, message, callback) => {{ '{' }}
        const p = path.resolve(logPath);
        const log = `${{ '{' }}new Date().toString(){{ '}' }}   ${{ '{' }}level{{ '}' }}    ${{ '{' }}message{{ '}' }}`;
        fs.writeFile(p, log, (err) => {{ '{' }}
          if(err) {{ '{' }}
            console.log(err);
          {{ '}' }}
          callback();
        {{ '}' }});
      {{ '}' }};
      ```
    </markdown>
    <ul>
      <li>Add the following code in the <b>index.js</b> file</li>
    </ul>
    <markdown ngPreserveWhitespaces data-type="text/html">
      > index.js
      ```javascript
        module.exports = {{ '{' }}
          logger: require('./logger')
        {{ '}' }};
      ```
    </markdown>
    <ul>
      <li>Go to the parent folder of your new module</li>
    </ul>
    <app-command-line [source]="indexFileContent"></app-command-line>
    <ul>
      <li>Run the following code in your node repl</li>
    </ul>
    <app-runkit #runkitOne [source]="usingLogger" [preamble]="usingLoggerPre"></app-runkit>
  </mat-expansion-panel>
</mat-accordion>
