<div class="exercise__item">
  <h2 id="exercise-1" class="exercise__item--title">Setting a test environment</h2>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Adding mocha to your project
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Run the following command</li>
    </ul>
    <app-command-line class="m-t5" [source]="addingMocha"></app-command-line>
    <ul>
      <li>Edit your test script to have the following</li>
    </ul>
    <markdown ngPreserveWhitespaces data-type="text/html">
      > package.json
      ```json
      "scripts": {{ '{' }}
      "test": "mocha './test/integration/**/*.spec.js --exit'"
      {{ '}' }}
      ```
    </markdown>
    <ul>
      <li>Create a directory called <b>test</b> and inside of it add the following file, <b>app.spec.js</b></li>
    </ul>
    <markdown ngPreserveWhitespaces data-type="text/html">
      > test/integration/customers.spec.js
      ```javascript
      const request = require('supertest');
      const app = require('../../app');
      describe('/customers', () => {{ '{' }}
        describe('get', () => {{ '{' }}
          it('Should respond with json', (done) => {{ '{' }}
            request(app)
              .get('/customers')
              .set('Accept', 'application/json')
              .expect('Content-Type', /json/)
              .expect((res) => {{ '{' }}
                console.log('============',res.body);
              {{ '}' }})
              .expect(200, done);
          {{ '}' }});
        {{ '}' }});
      {{ '}' }});
      ```
    </markdown>
  </mat-expansion-panel>
</mat-accordion>
