<div class="exercise__item">
  <h2 id="exercise-1" class="exercise__item--title">E5: Delete a post by id</h2>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requirements
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Create a new endpoint</li>
      <li>The endpoint should use a <b>DELETE</b> method</li>
      <li>The endpoint should delete a post by id</li>
      <li>The post returned should correspond with the one deleted</li>
      <li>The response should come in JSON format</li>
      <li>The Content/Type header should be application/json</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
