@import '../../../../styles/abstracts/variables';

.exercise__item {
  &--title {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: inline-block;
  }
}

.exercise__checkbox {
  margin-left: 2rem;
}
