<div class="app-container">
  <div class="page-content">
    <div class="jumbotron">
      <div class="display-4">Static Web Server</div>
      <p class="mt-5">
        Serve static content with a simple Node.js webserver using express.
      </p>
      <hr class="my-4">
      <div class="exercise__item">
        <h2 id="exercise-1" class="exercise__item--title">Prerequisites</h2>
      </div>
      <a href="https://git-scm.com/download/win" class="ml-5 ref-btn-link">Git</a>
      <a href="https://nodejs.org/es/download/" class="ref-btn-link">Node & NPM</a>
      <!-- <hr class="my-4">
      <app-exercise1></app-exercise1> -->
      <!-- <hr class="my-4">
      <app-exercise2></app-exercise2>
      <hr class="my-4">
      <app-exercise3></app-exercise3>
      <hr class="my-4">
      <app-tests></app-tests> -->
    </div>
  </div>
</div>
