<div class="app-container">
  <div class="page-content">
    <div class="jumbotron">
      <h1 class="display-4">Node Modules</h1>
      <p>
        A module is any file or directory in the <span class="badge badge-primary">node_modules</span> directory that can be loaded by the Node.js <span class="badge badge-primary">require()</span> function.
        A module encapsulates related code into a single unit of code
      </p>
      <hr class="my-4">
      <h2>Require</h2>
      <ul>
        <li>Let us load in modules that come bundled with nodejs</li>
        <li>To load our very own modules</li>
      </ul>
      <p>Run the following commands:</p>
      <app-command-line dataLine="2,3" [source]="lodashInstall"></app-command-line>
      <p>
        <span class="badge badge-primary">2</span> init a npm project.
      </p>
      <p>
        <span class="badge badge-primary">3</span> adds <b>lodash</b> in your npm project.
      </p>
      <hr>
      <p class="h4">
        Lodash
        <a href="https://npm.runkit.com/lodash"><img src="https://badge.runkitcdn.com/lodash.svg" alt="Try lodash on RunKit"/></a>
      </p>
      <app-runkit [source]="lodashSource"></app-runkit>
      <hr class="my-4">
      <h2>Valid Node Modules</h2>
      <p>
        To be loaded by the Node.js require() function, a module must be one of the following:
      </p>
      <ul>
        <li>A JavaScript file.</li>
        <li>
          A folder with a package.json file containing a "main" field.
        </li>
        <li>A folder with an index.js file in it.</li>
      </ul>
      <h2>
        Exercise
      </h2>
      <p>Run the following commands in your console.</p>
      <app-command-line [source]="noteFile"></app-command-line>
      <p>In the same directory create a file called note.js</p>
      <markdown ngPreserveWhitespaces lineHighlight [line]="'2-4'">
        > note.js
        ```javascript
        console.log('Starting note.js');
        module.exports.name = 'Jon';
        module.exports.lastName = 'doe';
        module.exports.age = 5;
        ```
      </markdown>
      <span class="badge badge-primary">2-4</span> We tell node to export an object with the <b>name</b>, <b>lastName</b> and <b>age</b> properties
      <hr>
      <p>We will create a file called <b>app.js</b> with the following content:</p>
      <markdown ngPreserveWhitespaces lineHighlight [line]="'2,3,4'" [lineOffset]="0" data-type="text/html">
        > app.js
        ```javascript
        console.log('Starting app');
        const {{'{'}} name, lastName, age {{ '}' }} = require('./note.js');
        const fs = require('fs');
        fs.appendFile('greetings.txt', 'Hello' + ' ' + name + ' ' + lastName, function(err) {{'{'}}
          if (err) {{'{'}}
            console.log('Unable to write the file');
          {{ '}' }}
        {{ '}' }});
        ```
      </markdown>
      <p><span class="badge badge-primary">2</span> imports the note module.</p>
      <p>
        <span class="badge badge-primary">3</span> Here we load the <b>fs</b> module <i>(This is a native module of node)</i>.
      </p>
      <p>
        <span class="badge badge-primary">4</span> <b> appendFile</b> creates a file with the first argument and use the second argument as it's content.
      </p>
    </div>
  </div>
</div>
