<div class="exercise__item">
  <h2 id="exercise-1" class="exercise__item--title">Exercise 1</h2>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requirements
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Create a npm project</li>
      <li>Create an express server that returns an html file</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        Setting your npm project
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
      <li>Run the following commands</li>
    </ul>
    <app-command-line [source]="initProject"></app-command-line>
    <ul>
      <li>Edit the <b>index.js</b> file</li>
    </ul>
    <markdown ngPreserveWhitespaces data-type="text/html">
      > index.js
      ```javascript
      const express = require('express');
      const path = require('path');
      ```
    </markdown>
    <ul>
      <li><a href="https://www.npmjs.com/package/express" class="ref-btn-link">Express</a> is an npm module, a routing framework.</li>
      <li><a href="https://nodejs.org/api/path.html" class="ref-btn-link">Path</a> is Node's native utility to work with file and directory paths.</li>
      <br>
      <li>Now we init express and set the port we want our app to run in, add this to your <b>index.js</b> file:</li>
    </ul>
    <markdown ngPreserveWhitespaces data-type="text/html">
      > index.js
      ```javascript
      let app = express();
      let port = 3000;
      ```
    </markdown>
    <ul>
      <li>Now we will add the code to serve content, add this to your <b>index.js</b> file:</li>
    </ul>
    <markdown ngPreserveWhitespaces data-type="text/html">
      > index.js
      ```javascript
      app.use('/', express.static(
        path.join(__dirname, 'html')
      ));
      app.listen(port, console.log('web server listening on port '+port));
      ```
    </markdown>
    <ul>
      <li>Run the server</li>
    </ul>
    <app-command-line [source]="runServer"></app-command-line>
    <ul>
      <li>Open your browser to <a href="http://localhost:3000">this page</a></li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
