<div class="app-container">
  <div class="page-content">
    <div class="jumbotron">
      <div class="display-4">Introduction</div>
      <p class="mt-5">
        The first exercise is a step by step tutorial, you will see the main concepts of npm.
        The other exercises will need to be resolved by you, you'll find a file with tests that will help you to
        confirm your solutions.
      </p>
      <hr class="my-4">
      <div class="exercise__item">
        <h2 id="exercise-1" class="exercise__item--title">Prerequisites</h2>
      </div>
      <a href="https://git-scm.com/download/win" class="ml-5 ref-btn-link">Git</a>
      <a href="https://nodejs.org/es/download/" class="ref-btn-link">Node & NPM</a>
      <hr class="my-4">
      <app-exercise1></app-exercise1>
      <hr class="my-4">
      <app-tests></app-tests>
    </div>
  </div>
</div>
