*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: $default-font-size;
}

.app-container {
  padding: .5rem;
  background-color: $color-grey-light-1;
  font-size: 1.6rem;
  height: auto;
}

.page-content {
  height: 100%;
  padding: 10px 190px;
}

li {
  margin-left: 2rem;
}

markdown {
  ::ng-deep {
    [data-file]::before {
      content: attr(data-file);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

blockquote.blockquote {
  padding: 0 .5em;
  color: rgba(253, 50, 65, 0.66);
  border-left: 0.25em solid rgba(253, 50, 65, 0.66);
  background-color: #f4f2f0;

  div.code-toolbar > .toolbar {
    top: -1.7em;
  }

}


