*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: $default-font-size;
}

.app-container {
  padding: .5rem;
  background-color: $color-grey-light-1;
  font-size: 1.6rem;
  height: auto;
}

.page-content {
  height: 100%;
  padding: 10px 190px;
}

li {
  margin-left: 2rem;
}

